




.cc__notif__modal{
  pointer-events: all;
}

/* Actual popup */
#cc__fancy_notification .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}
#cc__fancy_notification .overlay .cc__notif__modal {
  width: 450px;
  max-width:90%;
  -webkit-box-shadow: 0px 23px 30px -20px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 23px 30px -20px rgba(0, 0, 0, 0.4);
}
#cc__fancy_notification .overlay .cc__notif__modal .title {
  background: #0097A7;
  color: white;
  border-radius: 4px 4px 0px 0px;
  text-align: center;
  line-height: 48px;
  font-weight: 700;
}


#cc__fancy_notification .overlay .cc__notif__modal .title svg {
  position: absolute;
right: 0px;
margin: 3%;
-webkit-box-shadow: 0px 23px 30px -20px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 23px 30px -20px rgba(0, 0, 0, 0.4);
-webkit-transition: all 200ms ease-in-out;
transition: all 200ms ease-in-out;

}


#cc__fancy_notification .overlay .cc__notif__modal .title svg:hover {
  cursor: pointer;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-box-shadow: 0px 27px 30px -20px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 27px 30px -20px rgba(0, 0, 0, 0.4);
}

#cc__fancy_notification .overlay .cc__notif__modal .body {
  background: white;
  border-radius: 0px 0px 4px 4px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
#cc__fancy_notification .overlay .cc__notif__modal .body .text {
  padding: 30px;
}
#cc__fancy_notification .overlay .cc__notif__modal .body .text p {
  margin-bottom: 20px;
}
#cc__fancy_notification .overlay .cc__notif__modal .body .img {
  height: 180px;
  width: 140px;
  border-bottom-left-radius: 4px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-size: cover;
  background-position: center;
}
/* END Actual popup */
#cc__fancy_notification .overlay.is-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: overlayAnim 5s ease-in-out forwards;
         animation: overlayAnim 5s ease-in-out forwards;
}
#cc__fancy_notification .overlay.is-active .cc__notif__modal {
  -webkit-animation: modalAnim 5s ease-in-out forwards;
          animation: modalAnim 5s ease-in-out forwards;
}

#cc__fancy_notification .overlay.is-active .cc__notif__modal.fade {
  -webkit-animation: modalAnimOut 5s ease-in-out forwards;
          animation: modalAnimOut 5s ease-in-out forwards;
}

@keyframes overlayAnim {
  0%, 100% {
    background-color: rgba(0, 0, 0, .3);
  }
}

@keyframes modalAnim {
  0% {
    -webkit-transform: translateX(-200%) rotate(-90deg);
            transform: translateX(-200%) rotate(-90deg);
    opacity: 0;
  }
  10% {
    -webkit-transform: translateX(4%) rotate(4deg);
            transform: translateX(4%) rotate(4deg);
  }

  15%, 100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes modalAnimOut {
  0%, 30% {
    -webkit-transform: translateX(-4%) rotate(-4deg);
            transform: translateX(-4%) rotate(-4deg);
  }
   30%, 100% {
    -webkit-transform: translateX(200%) rotate(90deg);
            transform: translateX(200%) rotate(90deg);
  }
}


@-webkit-keyframes overlayAnim {
  0%, 100% {
    background-color: rgba(0, 0, 0, .3);
  }
}

@-webkit-keyframes modalAnim {
  0% {
    -webkit-transform: translateX(-200%) rotate(-90deg);
            transform: translateX(-200%) rotate(-90deg);
    opacity: 0;
  }
  10% {
    -webkit-transform: translateX(4%) rotate(4deg);
            transform: translateX(4%) rotate(4deg);
  }

  15%, 100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@-webkit-keyframes modalAnimOut {
  0%, 30% {
    -webkit-transform: translateX(-4%) rotate(-4deg);
            transform: translateX(-4%) rotate(-4deg);
  }
   30%, 100% {
    -webkit-transform: translateX(200%) rotate(90deg);
            transform: translateX(200%) rotate(90deg);
  }
}

#cc__fancy_notification {
      position: fixed;
        overflow: hidden;
        left: 0px;
        top: 0%;
        width: 101%;
        padding: 0px;
        height: 100%;
        pointer-events: none;
        background: none;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
}
